<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout margin="false">
   <vaadin-vertical-layout margin-left="false" margin-top="false" margin-bottom="false">
    <vaadin-text-area placeholder="Описание" width-full _id="descr"></vaadin-text-area>
   </vaadin-vertical-layout>
   <vaadin-horizontal-layout width-full :middle :center>
    <vaadin-vertical-layout width="103.92%" margin-left="false" margin-top="false" margin-bottom="false">
     <vaadin-combo-box scroll-to-selected-item placeholder="Категория" text-input-allowed="false" data-item-type="java.lang.String" _id="categorySelect">
      <option item="Option1">Спорт</option>
      <option item="Option2">Кино</option>
      <option item="Option3">Игры</option>
      <option item="Option4">Пиво</option>
      <option item="Option5">Прога</option>
     </vaadin-combo-box>
     <vaadin-combo-box placeholder="Маркер" text-input-allowed="false" data-item-type="com.vaadin.ui.Label" _id="markerSelect"></vaadin-combo-box>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout size-auto margin-right="false" margin-top="false" margin-bottom="false" _id="buttonsLayout">
     <vaadin-button icon="fonticon://Vaadin-Icons/e7ad" plain-text _id="cancel">
       Отмена 
     </vaadin-button>
     <vaadin-button icon="fonticon://Vaadin-Icons/e75b" plain-text _id="accept">
       Добавить 
     </vaadin-button>
    </vaadin-vertical-layout>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>